.cart_page-inner {
    padding: 20px 10px 0;
}

.cart-cart_summary-block {
    margin: 10px 0;
}

@media (min-width: 992px) {
    .cart-cart_summary-inner {
        display: flex;
    }
    .cart-div-container {
        width: 100%;
        padding: 10px;
        /* border: olive 1px solid; */
    }
    .cart_summary-div-container {
        width: 50%;
        padding: 10px;
        /* border: olive 1px solid; */
    }
    .cart_summary-div-container .summary-wrap .summary-detail-inner {
        display: block !important;
    }
    /* .li-cart-element-container {
        margin-bottom: 30px;
    } */
    .summary-detail-arrow-button-div {
        display: none;
    }
}

@media (max-width: 991px) {
    .cart-cart_summary-inner {
        display: flex;
        flex-direction: column-reverse;
    }
    .cart-div-container {
        width: 100%;
        padding: 10px;
    }
    .cart_summary-div-container {
        padding: 10px;
    }
    .cart_summary-div-container .summary-wrap .summary-detail-inner {
        display: none;
    }
    /* .li-cart-element-container {
        margin-bottom: 30px;
    } */

    /* @media (max-width: 600px) {
        .li-cart-element-container {
            margin-bottom: 30px;
        }
        .li-cart-element-container .cart-element-inner {
            padding: 10px;
        }
        .li-cart-element-container .cart-element-remove-button-block .cart-element-remove-button {
            width: 20px;
            height: 20px;
            left: -5px;
        }
        .li-cart-element-container .box-wrap .cart-element-detail-block .cart-element-img-div {
            height: 60%;
            max-height: 90px;
            margin: auto;
        }
        .li-cart-element-container .box-wrap .cart-element-arrow-block .cart-element-arrow-button {
            right: 0;
        }
        .box-wrap .cart-element-property-edit-div{
            display: block;
        }
    
        .box-wrap .edit-block-external {
            display: none;
        }
    
        .li-cart-element-container .box-wrap .box-property-set .cart-element-edit-button {
            margin: 0;
        }
        .li-cart-element-container .box-wrap .cart-element-arrow-inner {
            width: 15px;
            height: 15px;
        }

        .box-wrap .box-product-set .cart-element-wrap{
            box-shadow: none;
        }
        .box-wrap .box-product-set .box-product-set-li{
            box-shadow: var(--box-shadow-right);
        }
        .box-wrap .box-product-set .box-product-set-li:last-child{
            box-shadow: var(--box-shadow);
        }

        .li-cart-element-container .cart-element-detail-block {
            width: 70%;
        }
        .li-cart-element-container .cart-element-detail-block .cart-element-img-div {
            width: 85px;
            height: 85%;
            margin: auto 0;
        }
        .li-cart-element-container .cart-element-detail-block .cart-element-img-div img {
            width: 100%;
            height: auto;
        }
        .li-cart-element-container .cart-element-detail-block .cart-element-property-set {
            width: 65%;
            height: 85%;
            margin: auto 0;
            padding-left: 10px;
            font-size: 10px;
        }
        .cart-element-property-set .cart-element-property-price-div {
            display: block;
        }
        .li-cart-element-container .cart-element-edit-block {
            width: 15%;
            font-size: 10px;
        }
        .li-cart-element-container .cart-element-price-block {
            display: none;
        }
    } */

}