:root {
    /*———————————————————————————————— COLOR DOWN ———————————————————————————*/
    --color-shadow: #E5E5E7;
    --color-shadow-08: rgba(229, 229, 231, .8);
    --color-shadow-05: rgba(229, 229, 231, .5);
    --color-text: #0E2439;
    /* --color-text: red; */
    --color-text-08: rgba(14, 36, 57, 0.8);
    --color-text-05: rgba(14, 36, 57, 0.5);
    --color-link-05: rgba(11, 71, 91, .5);
    --color-label: #C6C6C7;
    --color-white: #ffffff;
    --color-red: #AF3134;
    --color-green: #23CBA7;
    --color-green-02: rgba(35, 203, 167, 0.2);
    --color-yellow: #FFD300;
    --color-yellow-07: rgba(255, 211, 0, 0.7);
    /*———————————————————————————————— COLOR UP —————————————————————————————*/
    /*———————————————————————————————— FONT-FAMILY DOWN —————————————————————*/
    --main-font-family: 'Spartan', Verdana, Geneva, sans-serif;
    --italic-font-family: 'PT Serif', "Times New Roman", Times, serif;
    --box-font-family: 'Open Sans', sans-serif;
    /*———————————————————————————————— FONT-FAMILY UP ———————————————————————*/
    /*———————————————————————————————— FONT-SIZE DOWN ———————————————————————*/
    --big-font-size: 2em;
    --font-size-1_7em: 1.7em;
    --font-size-1_6em: 1.6em;
    --middle-font-size: 1.2em;
    --little-font-size: .8em;
    --micro-font-size: .6em;
    /*———————————————————————————————— FONT-SIZE UP —————————————————————————*/
    /*———————————————————————————————— TRANSITION DOWN ——————————————————————*/
    --transition-time: .450s;
    --transition-time-picture: .5s;
    /*———————————————————————————————— TRANSITION UP ————————————————————————*/
    /*———————————————————————————————— SHADOW DOWN ——————————————————————————*/
    --box-shadow: 12px 12px 20px var(--color-shadow);
    --box-shadow-right: 12px 0px 20px var(--color-shadow);
    --box-shadow-centred: 0px 12px 20px  var(--color-shadow);
    /** selected shadow DOWN **/
    --selected-shadow-color: var(--color-green-02);
    --selected-shadow-opacity: 10px;
    --selected-shadow: 2px 2px var(--selected-shadow-opacity) var(--selected-shadow-color), -2px 2px var(--selected-shadow-opacity) var(--selected-shadow-color), -2px -2px var(--selected-shadow-opacity) var(--selected-shadow-color), 2px -2px var(--selected-shadow-opacity) var(--selected-shadow-color);
    /** selected shadow UP ****/
    /*———————————————————————————————— SHADOW UP ————————————————————————————*/
    /*———————————————————————————————— BODER DOWN ———————————————————————————*/
    --border-float: var(--color-shadow) 1px solid;
    --border-float-radius: 5px;
    --border-radius-selcted-element: 10px;
    /*———————————————————————————————— BODER UP —————————————————————————————*/
    /*———————————————————————————————— Z-INDEX DOWN —————————————————————————*/
    --z-index-header-fixed: 100;
    --z-index-body: -5;
    /*———————————————————————————————— Z-INDEX UP ———————————————————————————*/
    /*———————————————————————————————— POSITION DOWN ————————————————————————*/
    --body-top-computer: 145px;
    --body-top-mobile: 100px;
    --body-initial-top-computer: -145px;
    --body-initial-top-mobile: -100px;
    /*———————————————————————————————— POSITION UP ——————————————————————————*/
    /*———————————————————————————————— MARGIN DOWN ——————————————————————————*/
    --cartelement-margin-bottom: 15px;
    --boxproduct-margin-bottom: 5px;
    /*———————————————————————————————— MARGIN UP ————————————————————————————*/
}

.remove-ul-default-att {
    list-style-type: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
    margin-top: 0;
}

.remove-li-default-att {
    list-style-type: none;
}

.display-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.remove-button-default-att {
    /* border: none; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    /* border: 0; */
    /* margin: 0; */
    /* padding: 0; */
    /* border-radius: 0; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.mini-select-container .mini-select-wrap .mini-select-tag {
    color: var(--color-text);
}

.input-error {
    border: var(--color-red) 2px solid;
}

.white-text {
    text-shadow: -1px 0 var(--color-text), 0 1px var(--color-text), 1px 0 var(--color-text), 0 -1px var(--color-text), -1px -1px var(--color-text), 1px -1px var(--color-text), -1px 1px var(--color-text), 1px 1px var(--color-text);
    letter-spacing: 1.5px;
}

.selected_element_shadow {
    box-shadow: var(--selected-shadow) !important;
    z-index: 5;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: var(--z-index-header-fixed);
}

/*—— DOWN ——*/

.double-flex-50-parent {
    display: flex;
}

/* .double-flex-50-child {
    width: 50%;
} */

.double-flex-50-child:first-child {
    width: 55%;
    padding-right: 15px;
}

.double-flex-50-child:last-child {
    width: 100%;
    padding-left: 15px;
}

.checkbox_error-div .comment {
    margin: 5px 0 10px;
    color: var(--color-red);
    font-size: var(--little-font-size);
    font-family: var(--main-font-family);
}

.checkbox_error-div .comment::first-letter {
    text-transform: capitalize;
}

.fraction-span {
    color: var(--color-text-05);
    font-size: var(--little-font-size);
}

/*—— UP ——*/

/*—————————————— COMPUTER ——————————————*/

@media (min-width: 992px) {
    body {
        position: relative;
        top: var(--body-top-computer);
        z-index: var(--z-index-body);
    }
    .navbar-mobile {
        display: none;
        background-color: var(--color-white);
    }
    .navbar-computer {
        display: block;
        width: 100%;
        height: 145px;
        padding: 45px;
        color: var(--color-text) !important;
        box-shadow: 0px 12px 20px var(--color-shadow);
        font-family: var(--main-font-family);
        text-transform: capitalize;
        background-color: var(--color-white);
    }
    .navbar-computer .img-text-block .img-text-wrap {
        height: 100%;
    }
    .navbar-computer .img-text-block .img-text-wrap .img-text-img {
        position: relative;
        top: -4px;
    }
    .navbar-computer a:hover {
        color: var(--color-text) !important;
        text-decoration: none;
    }
    .navbar-computer .navbar-ul {
        display: flex;
        font-size: var(--middle-font-size);
    }
    .navbar-computer .navbar-li {
        display: flex;
        height: 100%;
        flex-direction: row;
        font-size: var(--middle-font-size);
    }
    .navbar-computer .navbar-li select {
        margin: auto;
    }
    .navbar-computer .navbar-inner {
        display: flex;
    }
    .navbar-computer .navbar-left-block {
        /* width: 33.33%; */
        width: 165px;
        float: left;
    }
    .navbar-computer .navbar-center-block {
        width: 33.33%;
        margin: 0 auto;
    }
    .navbar-computer .left-block-li {
        margin-right: auto;
    }
    .navbar-computer .left-block-li a {
        margin: auto;
    }
    .navbar-computer .navbar-right-block {
        /* width: 33.33%; */
        width: 325px;
    }
    .navbar-computer .site-title {
        font-size: var(--big-font-size) !important;
    }
    .navbar-computer .site-title a {
        text-decoration: none;
    }
    .navbar-computer .center-block-li {
        margin: auto;
    }
    .navbar-computer .navbar-right-block .navbar-ul {
        /* display: block; */
        display: flex;
    }
    .navbar-computer .navbar-right-block .navbar-li {
        position: relative;
        /* float: right; */
    }
    .navbar-computer .navbar-lang_cur_sign-block {
        margin: 0 auto;
    }
    .navbar-computer .navbar-basket-block span {
        font-size: var(--little-font-size);
    }
    .navbar-computer .navbar-basket-block .img-text-img {
        width: 35px;
    }
    .navbar-computer .mini-select-container {
        width: 60px;
        text-transform: uppercase;
    }
    .navbar-computer .mini-select-container select {
        width: 60px;
        text-transform: uppercase;
    }
}

/*——————————————- MOBILE ——————————————-*/

@media (max-width: 991px) {
    body {
        position: relative;
        top: var(--body-top-mobile);
        z-index: var(--z-index-body);
    }
    .navbar-computer {
        display: none;
        background-color: var(--color-white);
    }
    .navbar-inner {
        display: flex;
        height: 100%;
    }
    .navbar-mobile {
        display: block;
        width: 100%;
        height: 100px;
        padding: 25px 10px;
        color: var(--color-text) !important;
        box-shadow: 0px 12px 20px var(--color-shadow);
        font-family: var(--main-font-family);
        text-transform: capitalize;
        background-color: var(--color-white);
    }
    .navbar-mobile .img-text-block .img-text-wrap {
        height: 100%;
    }
    .navbar-mobile .navbar-new_drop-add_box-block .img-text-block .img-text-img {
        position: relative;
        width: 17px;
        top: -4px;
    }
    @media (min-width: 670px) and (max-width: 991px) {
        .navbar-new_drop-add_box-block {
            display: flex;
            height: 100%;
            width: 265px;
            margin: 0 auto;
        }
        .navbar-new_drop-add_box-block .img-text-block {
            margin: 0 auto;
        }
    }
    @media (max-width: 670px) {
        .navbar-new_drop-add_box-block {
            display: none;
        }
    }
    .navbar-mobile .site-title {
        font-size: var(--big-font-size) !important;
        text-align: center;
    }
    .navbar-mobile .site-title a {
        text-decoration: none;
    }
    .navbar-mobile .navbar-center-block {
        /* width: 33.33%; */
        margin: 0 auto;
        height: 100%;
    }
    .navbar-mobile .navbar-left-block {
        /* width: 33.33%; */
        width: 35px;
        margin: 0;
        height: 100%;
    }
    .navbar-mobile .navbar-right-block {
        width: 60px;
        margin: 0;
        height: 100%;
    }
    .navbar-mobile .navbar-basket-block {
        width: 60px;
    }
    .navbar-mobile .navbar-basket-block .img-text-img {
        /* width: 60px; */
        width: 35px;
    }
}