/*———————————————————————————————— COMMON HEADER DOWN ———————————————————————*/

/*—————————————— COMPUTER ——————————————*/

@media (min-width: 992px) {
    body {
        position: relative;
        top: var(--body-top-computer);
        z-index: var(--z-index-body);
    }
    .navbar-mobile {
        display: none;
        background-color: var(--color-white);
    }
    .side_menu {
        display: none;
        position: relative;
        left: -100vw !important;
    }
    .navbar-computer {
        display: block;
        width: 100%;
        /* height: 145px; */
        height: var(--body-top-computer);
        /* padding: 45px; */
        padding: 35px 40px;
        color: var(--color-text) !important;
        box-shadow: 0px 12px 20px var(--color-shadow);
        font-family: var(--main-font-family);
        text-transform: capitalize;
        background-color: var(--color-white);
    }
    .navbar-computer .img-text-block .img-text-wrap {
        height: 100%;
    }
    /* .navbar-computer .img-text-block .img-text-wrap .img-text-img {
        position: relative;
        top: -4px;
    } */
    .navbar-computer a:hover {
        color: var(--color-text) !important;
        text-decoration: none;
    }
    .navbar-computer .navbar-ul {
        display: flex;
        height: 100%;
        font-size: var(--middle-font-size);
    }
    .navbar-computer .navbar-li {
        display: flex;
        height: 100%;
        padding: 0 5px;
        flex-direction: row;
        font-size: var(--middle-font-size);
    }
    .navbar-computer .navbar-li select {
        margin: auto;
    }
    .navbar-computer .navbar-inner {
        display: flex;
        height: 100%;
    }
    .navbar-computer .navbar-left-block {
        /* width: 33.33%; */
        /* width: 165px; */
        margin-right: auto;
        /* float: left; */
    }
    /* .navbar-computer .navbar-center-block {
        width: 33.33%;
        margin: 0 auto;
    } */
    .navbar-computer .left-block-li {
        margin-right: auto;
    }
    .navbar-computer .left-block-li a {
        margin: auto;
    }
    .navbar-computer .navbar-right-block {
        /* width: 33.33%; */
        /* width: 325px; */
        margin-left: auto;
    }
    .navbar-computer .site-title {
        font-size: var(--big-font-size) !important;
    }
    .navbar-computer .site-title a {
        text-decoration: none;
    }
    .navbar-computer .center-block-li {
        /* margin: auto; */
        padding: 0 5px;
    }
    .navbar-computer .navbar-right-block .navbar-ul {
        /* display: block; */
        /* display: flex; */
        height: 100%;
    }
    .navbar-computer .center-block-li .img-text-img{
        margin-right: 10px;
    }
    /* .navbar-computer .navbar-right-block .navbar-li{

    } */
    /* .navbar-computer .navbar-right-block .navbar-li {
        position: relative;
        float: right;
    } */
    /* .navbar-computer .navbar-lang_cur_sign-block {
        margin: 0 auto;
    } */
    .navbar-computer .navbar-basket-block {
        cursor: pointer;
    }
    .navbar-computer .navbar-basket-block .navbar-basket-wrap {
        height: 100%;
    }
    .navbar-computer .navbar-basket-block span {
        font-size: var(--little-font-size);
    }
    .navbar-computer .navbar-basket-block .img-text-img {
        width: 35px;
    }
    .navbar-computer .mini-select-container {
        width: 60px;
        text-transform: uppercase;
    }
    .navbar-computer .mini-select-container select {
        width: 60px;
        text-transform: uppercase;
    }
}

/*——————————————- MOBILE ——————————————-*/

@media (max-width: 991px) {
    body {
        position: relative;
        top: var(--body-top-mobile);
        z-index: var(--z-index-body);
    }
    .navbar-computer {
        display: none;
        background-color: var(--color-white);
    }
    .navbar-inner {
        display: flex;
        height: 100%;
    }
    .navbar-mobile {
        display: block;
        width: 100%;
        /* height: 100px; */
        height: var(--body-top-mobile);
        /* padding: 25px 10px; */
        padding: 5px 10px;
        color: var(--color-text) !important;
        box-shadow: 0px 12px 20px var(--color-shadow);
        font-family: var(--main-font-family);
        text-transform: capitalize;
        background-color: var(--color-white);
    }
    /* .side_menu { */
        /* display: none; */
        /* position: relative;
        left: -100vw; */
    /* } */
    .navbar-mobile .img-text-block .img-text-wrap {
        height: 100%;
    }
    .navbar-mobile .navbar-new_drop-add_box-block .img-text-block .img-text-img {
        position: relative;
        width: 17px;
        top: -4px;
    }
    /*@media (min-width: 670px) and (max-width: 991px) {
        .navbar-new_drop-add_box-block {
            display: flex;
            height: 100%;
            width: 265px;
            margin: 0 auto;
        }
        .navbar-new_drop-add_box-block .img-text-block {
            margin: 0 auto;
        }
    }*/
    @media (max-width: 991px) {
        /* @media (max-width: 670px) { */
        .navbar-new_drop-add_box-block {
            display: none;
        }
    }
    .navbar-mobile .site-title {
        margin: auto;
        font-size: var(--big-font-size) !important;
        text-align: center;
    }
    .navbar-mobile .site-title a {
        text-decoration: none;
    }
    .navbar-mobile .navbar-center-block {
        /* width: 33.33%; */
        display: flex;
        height: 100%;
        margin: 0 auto;
    }
    .navbar-mobile .navbar-left-block {
        /* width: 33.33%; */
        width: 35px;
        /* margin: 0; */
        margin-right: auto;
        height: 100%;
    }
    .navbar-mobile .navbar-right-block {
        width: 60px;
        margin: 0;
        height: 100%;
    }
    .navbar-mobile .navbar-basket-block {
        width: 60px;
        height: 100%;
        margin-left: auto;
        cursor: pointer;
    }
    .navbar-mobile .navbar-basket-block .img-text-block {
        height: 100%;
    }
    .navbar-mobile .navbar-basket-block .img-text-img {
        /* width: 60px; */
        width: 35px;
    }
}

/*———————————————————————————————— COMMON HEADER DOWN ———————————————————————*/

.header_landing {
    border-bottom: var(--color-white) 1px solid;
}

.header_content {
    padding: 0 100px;
    color: var(--color-white);
    background-color: var(--color-pink);
}
.header-button{
    /* position: relative; */
    padding: 5px 10px !important;
}
.header_content-brand {
    display: flex;
    height: 100%;
    font-size: var(--big-font-size);
}

.header_content-brand span {
    /* margin: auto 0; */
    text-transform: uppercase;
    letter-spacing: 5px;
}

.header_burger {
    height: max-content;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

/*—————————————— COMPUTER ——————————————*/

@media (min-width: 992px) {
    .header_landing {
        position: absolute;
        top: var(--body-initial-top-computer);
    }
    .header_content {
        height: var(--body-top-computer);
    }
    .header_content-brand span {
        margin: auto 0;
    }
}

/*——————————————- MOBILE ——————————————-*/

@media (max-width: 991px) {
    .header_landing {
        position: absolute;
        top: var(--body-initial-top-mobile);
    }
    .header_content {
        height: var(--body-top-mobile);
    }
    .header_content-brand span {
        margin: auto;
    }
}

/*———————————————————————————————— SIDE_MENU DOWN ———————————————————————————*/

.side_menu {
    position: relative;
    display: none;
    left: -100vw;
    --side_menu-height: calc(100vh - var(--body-top-mobile));
    width: 100vw;
    height: var(--side_menu-height);
    font-family: var(--main-font-family);
}

.side_menu_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    background-color: var(--color-white);
    max-width: 550px;
    border-top: var(--color-shadow) solid;
    border-width: 1px 1px 0 0;
}

.side_menu_content-childs {
    width: 100%;
}

.menu_bottom_content-li {
    margin-bottom: 10px;
}

.side_menu_content-menu_bottom {
    max-width: 450px;
    margin: auto;
}

.side_menu_content-childs .touch-wrap {
    background-color: var(--color-white);
    cursor: pointer;
}

.side_menu_content-childs .touch-wrap:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.menu_bottom_content-li .touch-wrap .img-text-wrap {
    max-height: 30px;
}

.menu_bottom_content-li a {
    display: block;
    text-align: center;
}

@media (min-width: 451px) {
    .menu_top_content-li {
        width: 50%;
        float: left;
        padding-bottom: 5px;
    }
    .menu_top_content-li:nth-child(2n-1) {
        padding-right: 5px;
    }
}

@media (max-width: 450px) {
    .menu_top_content-li {
        margin-bottom: 10px;
    }
}

/*———————————————————————————————— SIDE_MENU UP —————————————————————————————*/