.item_page-inner {
    padding: 20px 10px 0;
}

.slider-wrap .item-set .slider-article {
    width: 100%;
}

.slider-wrap .item-set .slider-article img {
    width: 100%;
    border-radius: var(--border-float-radius);
}

.suggest-block {
    margin: 50px 0;
}

.product-size-customize-container .dropdown_checkbox-wrap .customize-price-block {
    margin-left: auto;
    color: var(--color-text-05);
    text-transform: uppercase;
}

/*—————————————— COMPUTER ——————————————*/

@media (min-width: 992px) {
    .product-block {
        display: flex;
        width: 100%;
        color: var(--color-text);
        font-family: var(--main-font-family);
    }
    .product-block-inner {
        display: flex;
        width: 100%;
        margin: 0 auto;
    }
    .product-pictures-div {
        width: 100%;
        /* height: 1000px; */
        flex-direction: row;
        /* border: olive 1px solid; */
    }
    .product-details-div {
        display: flex;
        width: 40%;
        /* height: 1000px; */
        padding: 15px;
        flex-direction: row;
        /* border: olive 1px solid; */
    }
    .product-details-inner {
        margin: 0 auto;
    }
    .product-datas-block .product-data-line, .product-size-dropdown-container {
        position: relative;
        margin-bottom: 40px;
    }
    .product-size-dropdown-container .brand-custom-container {
        display: none;
    }
    #choose_brand>p::first-letter {
        text-transform: capitalize;
    }
    .choose-brand-button {
        box-shadow: none;
    }
    .product-datas-block .product-name-div span {
        color: var(--color-text);
        font-family: var(--main-font-family);
        text-transform: capitalize;
    }
    .product-datas-block .product-price-div {
        text-transform: uppercase;
    }
    .product-datas-block .product-price-div h3 {
        color: var(--color-text);
        font-family: var(--main-font-family);
    }
    .product-datas-block .detail-color-div .cube-container {
        width: 30px;
        height: 30px;
    }
    .product-datas-block .detail-color-div ul {
        display: flex;
    }
    .product-datas-block .product-size-container {
        display: flex;
    }
    .product-datas-block .product-size-container .product-size-inner {
        width: 100%;
        margin: 0 auto;
    }
    .product-safe_info-block {
        margin: 60px 0;
    }
    .product-description-block .collapse-wrap .collapse-title {
        text-transform: capitalize;
    }
    .showed_product_slider .slider-nb_acticle-width_indicator {
        width: 2px;
    }
    #second_slider .slider-nb_acticle-width_indicator {
        width: 6px;
    }
    .suggest-title {
        margin-bottom: 35px;
        color: var(--color-text-05);
        font-size: var(--big-font-size);
        font-family: var(--main-font-family);
        text-align: center;
        text-transform: capitalize;
    }
    @media (min-width: 992px) and (max-width: 1200px) {
        .suggest_slider_nb_window_wrapper .slider-nb_acticle-width_indicator {
            width: 4px;
        }
    }
    @media (min-width: 1201px)/*and (max-width: 1200px)*/
        {
        .suggest_slider_nb_window_wrapper .slider-nb_acticle-width_indicator {
            width: 5px;
        }
    }
}

/*——————————————- MOBILE ——————————————-*/

@media (max-width: 991px) {
    .product-block {
        display: flex;
        width: 100%;
        color: var(--color-text);
        font-family: var(--main-font-family);
    }
    .product-block-inner {
        /* display: flex; */
        width: 100%;
        margin: 0 auto;
    }
    .product-pictures-div {
        width: 100%;
        /* height: 1000px; */
        flex-direction: row;
        /* border: olive 1px solid; */
    }
    .product-details-div {
        display: flex;
        width: 95%;
        margin: 0 auto;
        padding: 15px;
        flex-direction: row;
        /* border: olive 1px solid; */
    }
    .product-details-inner {
        width: 100%;
        max-width: 520px;
        margin: 0 auto;
    }
    .product-datas-block .product-data-line, .product-size-dropdown-container {
        position: relative;
        margin-bottom: 25px;
    }
    .product-size-dropdown-container .brand-custom-container {
        display: none;
    }
    #choose_brand>p::first-letter {
        text-transform: capitalize;
    }
    #choose-brand-button {
        box-shadow: none;
    }
    .product-datas-block .product-name-div {
        text-align: center;
        font-size: var(--middle-font-size);
    }
    .product-datas-block .product-name-div h2 {
        font-size: var(--middle-font-size);
    }
    .product-datas-block .product-name-div span {
        color: var(--color-text);
        font-family: var(--main-font-family);
        text-transform: capitalize;
    }
    .product-datas-block .product-price-div {
        font-size: var(--middle-font-size);
        text-transform: uppercase;
        text-align: center;
    }
    .product-datas-block .product-price-div h3 {
        color: var(--color-text);
        font-family: var(--main-font-family);
    }
    .product-datas-block .detail-color-div .cube-container {
        width: 30px;
        height: 30px;
    }
    .product-datas-block .detail-color-div ul {
        display: flex;
    }
    .product-datas-block .detail-color-div ul li:first-child {
        margin-left: auto;
    }
    .product-datas-block .detail-color-div ul li:last-child {
        margin-right: auto;
    }
    .product-datas-block .product-size-container {
        display: flex;
    }
    .product-datas-block .product-size-container .product-size-inner {
        width: 100%;
        margin: 0 auto;
    }
    .product-safe_info-block {
        margin: 60px 0;
    }
    .product-description-block .collapse-wrap .collapse-title {
        text-transform: capitalize;
    }
    @media (min-width: 768px) {
        /* #product_slider .slider-nb_acticle-width_indicator {
            width: 2px;
        } */
        .showed_product_slider .slider-nb_acticle-width_indicator {
            width: 2px;
        }
    }
    @media (max-width: 767px) {
        /* #product_slider .slider-nb_acticle-width_indicator {
            width: 1px;
        } */
        .showed_product_slider .slider-nb_acticle-width_indicator {
            width: 1px;
        }
    }
    #second_slider .slider-nb_acticle-width_indicator {
        width: 6px;
    }
    .suggest-title {
        margin-bottom: 35px;
        color: var(--color-text-05);
        font-size: var(--font-size-1_7em);
        font-family: var(--main-font-family);
        text-align: center;
        text-transform: capitalize;
    }
    @media (max-width: 600px) {
        .suggest_slider_nb_window_wrapper .slider-nb_acticle-width_indicator {
            width: 2px;
        }
    }
    @media (min-width: 601px) and (max-width: 860px) {
        .suggest_slider_nb_window_wrapper .slider-nb_acticle-width_indicator {
            width: 3px;
        }
    }
    @media (min-width: 861px) and (max-width: 991px) {
        .suggest_slider_nb_window_wrapper .slider-nb_acticle-width_indicator {
            width: 4px;
        }
    }
}