:root {
    --max_width: 490px;
    --max_width_title: 790px;
    --rotate-wave: -5deg;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--main-font-family);
    font-weight: initial;
    margin: initial;
}

.bold {
    font-weight: bold;
}

.text {
    line-height: 1.7;
}

.text_center {
    text-align: center;
}

@media (min-width: 992px) {
    .title {
        font-size: var(--font-size-2_5em);
        font-weight: bold;
    }
    .subtitle {
        font-size: var(--big-font-size);
    }
    .text {
        font-size: 1.2em;
    }
    .title_margin_bottom {
        margin-bottom: 50px;
    }
    .title_background {
        padding: 3px;
        max-width: var(--max_width_title);
    }
    .cta {
        max-width: 720px;
        margin: 50px auto 0;
    }
    .cta-btn {
        font-size: var(--font-size-1_6em);
    }
}

@media (max-width: 991px) {
    .title {
        font-size: var(--font-size-1_6em);
        font-weight: bold;
    }
    .title_margin_bottom {
        margin-bottom: 30px;
    }
    .title_background {
        padding: 10px 3px;
        max-width: var(--max_width);
    }
    .cta {
        max-width: var(--max_width);
        /* margin-top: 40px; */
        margin: 40px auto 0;
        padding: 0 20px;
    }
    .cta-btn {
        font-size: var(--middle-font-size);
    }
}

/*———————————————————————————————— CONST UP —————————————————————————————————*/

.main_content {
    font-family: var(--main-font-family);
    color: var(--color-text);
}

@media (min-width: 992px) {
    .main_content-vp, .main_content-tuto, .main_content-size, .feature_content-features-inner {
        padding: 25px 50px 40px;
    }
}

@media (max-width: 991px) {
    .main_content-vp, .main_content-tuto, .main_content-size, .feature_content-features-inner {
        padding: 0 15px;
    }
    .main_content-tuto, .main_content-size, .main_content-quality, .feature_content-features-inner {
        padding-top: 25px;
        padding-bottom: 40px;
    }
}

/*———————————————————————————————— VP DOWN ——————————————————————————————————*/

.main_content-vp {
    background-color: var(--color-pink);
    min-height: 110vh;
}

.vp_content {
    position: relative;
}

.vp_content-vp-txt {
    background-color: var(--color-white-075);
    border-radius: var(--big-border-radius);
}

.vp_content-vp-txt-line::first-letter {
    text-transform: capitalize;
}

.vp_content-img {
    opacity: .85;
}

/*++++++++++++++++++++++++++++++++ COMPUTER +++++++++++++++++++++++++++++++++*/

@media (min-width: 992px) {
    .vp_content {
        display: flex;
    }
    .vp_content-vp {
        display: flex;
        flex-direction: column;
        padding-top: 5%;
    }
    .vp_content-vp, .vp_content-img {
        width: 54%;
    }
    .vp_content-vp-txt {
        max-width: 800px;
        min-width: 635px;
        padding: 35px;
        margin-left: auto;
        margin-right: auto;
    }
    .vp_content-vp-txt-line {
        font-size: var(--font-size-1_6em);
    }
    .vp_content-vp-cta {
        width: 100%;
        max-width: 800px;
        min-width: 635px;
        margin: 50px auto 0;
    }
    .vp_content-img img {
        width: 100%;
    }
}

/*++++++++++++++++++++++++++++++++ MOBILE +++++++++++++++++++++++++++++++++++*/

@media (max-width: 991px) {
    .vp_content-vp {
        position: absolute;
        /* z-index: 1; */
        z-index: var(--z-index-body_1);
        height: 100%;
        padding: 10% 0;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
    }
    .vp_content-vp-child {
        max-width: 728px;
    }
    .vp_content-vp-txt {
        margin: auto auto 0;
        padding: 10px 20px 10px;
        border-radius: var(--border-float-radius);
    }
    .vp_content-vp-txt-line {
        margin: 0 0 8px;
    }
    .vp_content-vp-cta {
        width: 100%;
        margin: 5vh auto auto;
    }
    .cta-btn:hover {
        color: var(--color-white);
        background-color: var(--color-green-clear);
        border: var(--color-green-clear) 1px solid;
    }
    .vp_content-img {
        height: 90vh;
        display: flex;
    }
    .vp_content-img img {
        height: 100%;
        margin: 0 auto;
    }
}

/*———————————————————————————————— VP UP ————————————————————————————————————*/

/*———————————————————————————————— TUTO DOWN ————————————————————————————————*/

.tuto_content-title {
    text-align: center;
}

.tuto_content-features {
    position: relative;
}

.tuto_content-features-container {
    display: flex;
    position: relative;
    /* z-index: 1; */
    z-index: var(--z-index-body_1);
}

.tuto_content-features-container .feature {
    max-width: var(--max_width);
    padding: 0;
}

.tuto_content-features-container .feature-head-logo .rectangle {
    width: 100%;
}

.tuto_content-features-container .feature-head-logo .square {
    min-width: 70px;
    height: 50px;
    background-color: var(--color-white);
}

.tuto_content-features-container .feature-head-logo .circle {
    display: flex;
    height: 100%;
    max-width: 50px;
    margin: auto;
    border-radius: 50%;
    background-color: var(--color-shadow-08);
}

.tuto_content-features-container .feature-head-logo .circle span {
    display: block;
    margin: auto;
    font-weight: bold;
    color: var(--color-text-08);
    font-size: var(--font-size-1_6em);
    font-family: verdana;
}

/*++++++++++++++++++++++++++++++++ COMPUTER +++++++++++++++++++++++++++++++++*/

@media (min-width: 992px) {
    .tuto_content-features-barre {
        position: absolute;
        width: 100%;
        top: 25px;
        /* z-index: 0; */
        z-index: var(--z-index-body_0);
    }
    .tuto_content-features-barre-barre {
        border-bottom: var(--color-text-08) 1px solid;
    }
    .tuto_content-features-container .feature {
        width: 30%;
    }
    .tuto_content-features-container>.center {
        margin: 0 auto;
    }
    .feature-head-logo .back_white {
        background-color: var(--color-white);
    }
}

/*++++++++++++++++++++++++++++++++ MOBILE +++++++++++++++++++++++++++++++++++*/

@media (max-width: 991px) {
    .tuto_content-title {
        padding: 3px;
        background-color: var(--color-shadow-05);
        max-width: 660px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .tuto_content-features-container .feature-body-child {
        text-align: center;
    }
}

/*———————————————————————————————— TUTO UP ——————————————————————————————————*/

/*———————————————————————————————— SIZE DOWN ————————————————————————————————*/

.main_content-size {
    background-color: var(--color-blue-05);
}

.size_content-title {
    background-color: var(--color-white);
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.size_content-features .feature {
    background-color: var(--color-white);
}

/*++++++++++++++++++++++++++++++++ COMPUTER +++++++++++++++++++++++++++++++++*/

@media (min-width: 992px) {
    .size_content-features .feature {
        margin: 0 auto;
        width: 45%;
    }
}

/*++++++++++++++++++++++++++++++++ MOBILE +++++++++++++++++++++++++++++++++++*/

@media (max-width: 991px) {}

/*———————————————————————————————— SIZE UP ——————————————————————————————————*/

/*———————————————————————————————— QUALITY DOWN —————————————————————————————*/

.quality_content-lines .flex_reverse {
    background-color: var(--color-orange-clear);
}

.quality_content-line-img img {
    width: 100%;
}

/*++++++++++++++++++++++++++++++++ COMPUTER +++++++++++++++++++++++++++++++++*/

@media (min-width: 992px) {
    .main_content-quality {
        padding: 25px 0 40px;
    }
    .quality_content-line {
        display: flex;
        min-height: 500px;
        padding: 15px 50px 10px;
    }
    .quality_content-lines .flex_reverse {
        flex-direction: row-reverse;
    }
    .quality_content-line-img, .quality_content-line-txt {
        width: 50%;
        margin: auto;
    }
    .quality_content-line-img {
        max-width: 490px;
    }
    .quality_content-line-txt {
        display: flex;
    }
    .quality_content-line-txt-inner {
        margin: auto 0;
    }
}

/*++++++++++++++++++++++++++++++++ MOBILE +++++++++++++++++++++++++++++++++++*/

@media (max-width: 991px) {
    .quality_content-line {
        margin: 0 auto;
        padding: 10px 15px;
    }
    .quality_content-line-img, .quality_content-line-txt {
        margin: 0 auto;
    }
    .quality_content-line-img {
        max-width: 390px;
    }
    .quality_content-line-txt {
        max-width: 490px;
        text-align: center;
    }
}

/*———————————————————————————————— QUALITY UP ———————————————————————————————*/

/*———————————————————————————————— FEATURE DOWN —————————————————————————————*/

.feature_content-features {
    position: relative;
}

.feature_content-features-inner {
    /* z-index: 1; */
    z-index: var(--z-index-body_1);
    position: relative;
    background-color: var(--color-blue-wave);
}

.feature_content-wave_top, .feature_content-wave_bottom {
    position: absolute;
    width: 100%;
    height: 11%;
}

.feature_content-wave-mask {
    --trans-origin: 0 100%;
    position: relative;
    height: 100%;
    background-color: var(--color-blue-wave);
    transform-origin: var(--trans-origin);
    -moz-transform-origin: var(--trans-origin);
    -webkit-transform-origin: var(--trans-origin);
    transform: skewY(var(--rotate-wave));
    -moz-transform: skewY(var(--rotate-wave));
    -webkit-transform: skewY(var(--rotate-wave));
}

.feature_content-features-title {
    color: var(--color-white);
    background-color: var(--color-text);
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.feature_content-features-features .feature {
    color: var(--color-white);
    background-color: var(--color-text);
}

.feature_content-features-features .feature .logo {
    background-color: var(--color-white);
}

/*++++++++++++++++++++++++++++++++ COMPUTER +++++++++++++++++++++++++++++++++*/

@media (min-width: 992px) {
    .feature_content-features-features .feature {
        width: 45%;
        margin: auto;
    }
    .feature_content-features-features .feature_line {
        margin-bottom: 5%;
    }
}

/*++++++++++++++++++++++++++++++++ MOBILE +++++++++++++++++++++++++++++++++++*/

@media (max-width: 991px) {
    .feature_content-features-features .feature {
        margin-bottom: 25px;
    }
}

/*———————————————————————————————— FEATURE UP ———————————————————————————————*/

/*———————————————————————————————— MOSAIC DOWN ——————————————————————————————*/

.feature_content-mosaic {
    overflow: hidden;
}

#id0 {
    background-color: green;
}

#id1 {
    background-color: red;
}

#id2 {
    background-color: blue;
}

.feature_content-mosaic-child {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}

/*++++++++++++++++++++++++++++++++ COMPUTER +++++++++++++++++++++++++++++++++*/

@media (min-width: 992px) {
    .feature_content-mosaic_mobile {
        display: none;
    }
    .feature_content-mosaic {
        max-height: 480px;
    }
}

/*++++++++++++++++++++++++++++++++ MOBILE +++++++++++++++++++++++++++++++++++*/

@media (max-width: 991px) {
    .feature_content-mosaic_computer {
        display: none;
    }
    .feature_content-mosaic {
        max-height: 280px;
    }
}

/*———————————————————————————————— MOSAIC UP ————————————————————————————————*/