:root {
    /*———————————————————————————————— COLOR DOWN ———————————————————————————*/
    --color-shadow: #E5E5E7;
    --color-shadow-08: rgba(229, 229, 231, .8);
    --color-shadow-05: rgba(229, 229, 231, .5);
    --color-text: #0E2439;
    --color-text-08: rgba(14, 36, 57, 0.8);
    --color-text-06: rgba(14, 36, 57, 0.6);
    --color-text-05: rgba(14, 36, 57, 0.5);
    --color-link-05: rgba(11, 71, 91, .5);
    --color-label: #C6C6C7;
    --color-white: #ffffff;
    --color-white-075: rgba(255, 255, 255, .75);
    --color-red: #AF3134;
    --color-green: #23CBA7;
    --color-green-clear: #6AE3C9;
    --color-green-02: rgba(35, 203, 167, 0.2);
    --color-orange-clear: #FFD476;
    --color-yellow: #FFD300;
    --color-yellow-07: rgba(255, 211, 0, 0.7);
    --color-blue: #4DA3F5;
    --color-blue-wave: #458ED3;
    --color-blue-05: rgba(175, 213, 248, .5);
    --color-pink: #F0C7CB;
    /*———————————————————————————————— COLOR UP —————————————————————————————*/
    /*———————————————————————————————— FONT-FAMILY DOWN —————————————————————*/
    --main-font-family: 'Spartan', Verdana, Geneva, sans-serif;
    --italic-font-family: 'PT Serif', "Times New Roman", Times, serif;
    --box-font-family: 'Open Sans', sans-serif;
    /*———————————————————————————————— FONT-FAMILY UP ———————————————————————*/
    /*———————————————————————————————— FONT-SIZE DOWN ———————————————————————*/
    --font-size-2_5em: 2.5em;
    --big-font-size: 2em;
    --font-size-1_7em: 1.7em;
    --font-size-1_6em: 1.6em;
    --middle-font-size: 1.2em;
    --little-font-size: .8em;
    --micro-font-size: .6em;
    /*———————————————————————————————— FONT-SIZE UP —————————————————————————*/
    /*———————————————————————————————— TRANSITION DOWN ——————————————————————*/
    --transition-time: .450s;
    --transition-time-picture: .5s;
    /*———————————————————————————————— TRANSITION UP ————————————————————————*/
    /*———————————————————————————————— SHADOW DOWN ——————————————————————————*/
    --box-shadow: 12px 12px 20px var(--color-shadow);
    --box-shadow-right: 12px 0px 20px var(--color-shadow);
    --box-shadow-centred: 0px 12px 20px var(--color-shadow);
    /** selected shadow DOWN **/
    --selected-shadow-color: var(--color-green-02);
    --selected-shadow-opacity: 10px;
    --selected-shadow: 2px 2px var(--selected-shadow-opacity) var(--selected-shadow-color), -2px 2px var(--selected-shadow-opacity) var(--selected-shadow-color), -2px -2px var(--selected-shadow-opacity) var(--selected-shadow-color), 2px -2px var(--selected-shadow-opacity) var(--selected-shadow-color);
    /** selected shadow UP ****/
    /*———————————————————————————————— SHADOW UP ————————————————————————————*/
    /*———————————————————————————————— BODER DOWN ———————————————————————————*/
    --border-float: var(--color-shadow) 1px solid;
    --border-float-radius: 5px;
    --border-radius-10: 10px;
    --big-border-radius: 20px;
    /* --border-radius-35: 35px; */
    --border-radius-selcted-element: 10px;
    /*———————————————————————————————— BODER UP —————————————————————————————*/
    /*———————————————————————————————— Z-INDEX DOWN —————————————————————————*/
    /* --z-index-header-fixed: 100; */
    /* --z-index-body: -5; */
    /* 31-40 */
    --z-index-alert_31: 31;
    /* 21-30 */
    --z-index-popup_21: 21;
    /* 11-20 */
    --z-index-header_11: 11;
    /* 0-10 */
    --z-index-body_4: 4;
    --z-index-body_3: 3;
    --z-index-body_2: 2;
    --z-index-body_1: 1;
    --z-index-body_0: 0;
    /*———————————————————————————————— Z-INDEX UP ———————————————————————————*/
    /*———————————————————————————————— POSITION DOWN ————————————————————————*/
    /* --body-top-computer: 145px; */
    --body-top-computer: 120px;
    --header-mobile-height: 70px;
    /* --body-initial-top-computer: -145px; */
    --body-initial-top-computer: -120px;
    /* --body-initial-top-mobile: -100px; */
    --body-initial-top-mobile: -70px;
    /*———————————————————————————————— POSITION UP ——————————————————————————*/
    /*———————————————————————————————— MARGIN DOWN ——————————————————————————*/
    --cartelement-margin-bottom: 15px;
    --boxproduct-margin-bottom: 5px;
    /*———————————————————————————————— MARGIN UP ————————————————————————————*/
}

.remove-a-default-att {
    text-decoration: none;
}

.remove-ul-default-att {
    list-style-type: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
    margin-top: 0;
}

.remove-li-default-att {
    list-style-type: none;
}

.display-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.remove-button-default-att {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mini-select-container .mini-select-wrap .mini-select-tag {
    color: var(--color-text);
}

.input-error {
    border: var(--color-red) 2px solid;
}

.white-text {
    text-shadow: -1px 0 var(--color-text), 0 1px var(--color-text), 1px 0 var(--color-text), 0 -1px var(--color-text), -1px -1px var(--color-text), 1px -1px var(--color-text), -1px 1px var(--color-text), 1px 1px var(--color-text);
    letter-spacing: 1.5px;
}

/* .selected_element_shadow {
    box-shadow: var(--selected-shadow) !important;
    z-index: 5;
} */

.info-style {
    color: var(--color-text-05) !important;
    text-transform: initial !important;
    font-family: var(--italic-font-family);
    font-style: italic;
}

.title-first_letter {
    font-family: var(--main-font-family);
    color: var(--color-text);
}

.title-first_letter::first-letter {
    text-transform: capitalize;
}

/*—— DOWN ——*/

.double-flex-50-parent {
    display: flex;
}

.double-flex-50-child:first-child {
    width: 55%;
    padding-right: 15px;
}

.double-flex-50-child:last-child {
    width: 100%;
    padding-left: 15px;
}

.checkbox_error-div .comment {
    margin: 5px 0 10px;
    color: var(--color-red);
    font-size: var(--little-font-size);
    font-family: var(--main-font-family);
}

.checkbox_error-div .comment::first-letter {
    text-transform: capitalize;
}

.fraction-span {
    color: var(--color-text-05);
    font-size: var(--little-font-size);
}

.capitalize {
    text-transform: capitalize;
}

.back_red {
    background: var(--color-red);
}

.back_blue {
    background: var(--color-blue);
}

.back_blur {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.transition_time{
    transition: var(--transition-time);
    -moz-transition: var(--transition-time);
}