.checkout_page-inner {
    padding: 20px 10px 0;
}

.address_connection-inner {
    padding: 10px;
    border: var(--border-float);
    border-radius: var(--border-float-radius);
    box-shadow: var(--box-shadow);
}

.address-wrap-inner {
    position: relative;
}

#address_form_loading {
    width: auto;
}

/* .connection-container{
    margin-bottom: 50px;
} */

.address-form-container .form-input-block {
    margin-bottom: 20px;
}

.summary_cart-block {
    padding: 10px;
}

.cart-block {
    margin-bottom: 20px;
    padding: 10px;
    border: var(--border-float);
    border-radius: var(--border-float-radius);
    box-shadow: var(--box-shadow);
}

.cart-block .cart-wrap .cart-ul {
    max-height: 450px;
    padding: 10px;
    border: var(--border-float);
    border-radius: var(--border-float-radius);
    overflow: scroll;
}

.cart-block .cart-wrap .cart-ul .li-cart-element-container {
    margin-bottom: 10px;
}

.cart-block .cart-element-wrap {
    /* height: 120px; */
    box-shadow: none !important;
}

.cart-block .cart-element-inner {
    font-size: var(--little-font-size);
}

.cart-block .cart-element-detail-block {
    width: 90%;
}

.cart-block .cart-element-price-block {
    width: 30%;
}

.cart-block .cart-element-property-div {
    margin-bottom: 0;
}

.cart-block .form-title-block {
    display: flex;
    cursor: pointer;
}

.cart-block .form-title-div {
    width: 90%;
}

.cart-discount-block .sticker-set {
    overflow: auto;
}

.cart-discount-block .sticker-container {
    height: 30px;
    max-width: 160px;
    margin: 10px 10px 0 0;
    text-transform: capitalize;
    float: left;
}

.cart-discount-inner {
    display: none;
}

/* .cart-block .cart-inner .cart-wrap{
    display: none;
} */

#checkout_cart {
    display: none;
}

@media (min-width: 1132px) {
    .address_summary_cart-inner {
        display: flex;
        flex-direction: row;
    }
    .address_connection-block {
        width: 100%;
        max-width: 720px;
        /* height: 1000px; */
        margin: 0 auto;
        padding: 10px;
        /* border: olive 1px solid; */
    }
    .summary_cart-block {
        width: 100%;
        max-width: 720px;
        margin: auto;
        /* width: 70%; */
        /* height: 1000px; */
        /* border: olive 1px solid; */
    }
    .summary-detail-arrow-button-div {
        display: none;
    }
    .payement-div {
        display: none;
    }
}

@media (max-width: 1131px) {
    .address_summary_cart-inner {
        display: flex;
        flex-direction: column-reverse;
    }
    .address_connection-block {
        width: 100%;
        max-width: 720px;
        margin: 0 auto;
        padding: 10px;
        /* border: olive 1px solid; */
    }
    .summary_cart-block {
        width: 100%;
        max-width: 720px;
        margin: 0 auto;
        /* border: olive 1px solid; */
    }
    /* .summary-detail-inner {
        display: none;
    } */
}