RewriteEngine on

# RewriteCond %{HTTP_HOST} ^iandmeim\.com [NC]
# RewriteRule ^(.*) https://www.iandmeim.com/$1 [QSA,R=301]

# RewriteCond %{SERVER_PORT} 80
# RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301]

# Grid
RewriteRule ^grid/qr/+([A-z]+)/*$                   index.php?controller=grid&action=$1 [QSA,NC,L]
RewriteRule ^grid/?$                                index.php?controller=grid&action=index [QSA,NC,L]

# Item
RewriteRule ^item/qr/+([A-z]+)/*$                   index.php?controller=item&action=$1 [QSA,NC,L]
RewriteRule ^item/+([A-z0-9]+)(/+[A-z\-]+)?/*$      index.php?controller=item&action=index&prodid=$1 [QSA,NC,L]

# Dashboard
RewriteRule ^dashboard/qr/+([A-z]+)/*$	            index.php?controller=dashboard&action=$1 [QSA,NC,L]
RewriteRule ^dashboard/shopbag/*$	                index.php?controller=dashboard&action=shopbag [QSA,NC,L]
RewriteRule ^dashboard/orders/*$	                index.php?controller=dashboard&action=orders [QSA,NC,L]
RewriteRule ^dashboard/*$	                        index.php?controller=dashboard&action=index [QSA,NC,L]

# Checkout
RewriteRule ^checkout/qr/+([A-z]+)/*$               index.php?controller=checkout&action=$1 [QSA,NC,L]
RewriteRule ^checkout/sign/*$	                    index.php?controller=checkout&action=sign [QSA,NC,L]
RewriteRule ^checkout/address/*$	                index.php?controller=checkout&action=address [QSA,NC,L]
RewriteRule ^checkout/success/*$	                index.php?controller=checkout&action=success [QSA,NC,L]
RewriteRule ^checkout/*$	                        index.php?controller=checkout&action=index [QSA,NC,L]

RewriteRule ^webhook/qr/+([A-z]+)/*$	            index.php?controller=webhook&action=$1 [QSA,NC,L]

# Home
# RewriteRule ^qr/+([A-z]+)/*$	                    index.php?controller=home&action=$1 [QSA,NC,L]
RewriteRule ^home/qr/+([A-z]+)/*$	                index.php?controller=home&action=$1 [QSA,NC,L]
RewriteRule ^home/generator/*$	                    index.php?controller=home&action=generator [QSA,NC,L]
RewriteRule ^home/init/*$	                        index.php?controller=home&action=init [QSA,NC,L]
RewriteRule ^home/*$	                            index.php?controller=home&action=index [QSA,NC,L]
# RewriteRule /*$	                                    index.php?controller=home&action=index [QSA,NC,L]

# /
# RewriteRule ^([A-z]+)/*$	                        index.php?controller=landing&action=$1 [QSA,NC,L]
RewriteRule ^([A-z]+)/*$	                        index.php?controller=landing&action=index [QSA,NC,L]
RewriteRule ^/*$	                                index.php?controller=landing&action=index [QSA,NC,L]

# default
# RewriteRule ^([a-zA-Z]*)/?([a-zA-Z]*)?/?([a-zA-Z0-9]*)?/?$ index.php?controller=landing&action=index [QSA,NC,L]
